<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                disableAnsi="false"
                pattern="%highlight{%d{HH:mm:ss.SSS} [%t] %-5level %c{1} - %msg%n}{FATAL=red blink, ERROR=red, WARN=yellow, INFO=default, DEBUG=cyan, TRACE=white}"
            />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="exchange.bus.ExchangeBus" level="all" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="exchange.websocketendpoint.ExchangeEndpoint" level="all" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="exchange.websocketendpoint.ExchangeServletContextListener" level="all" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="exchange.services.MarketDataProvider" level="all" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="exchange.services.MatchingEngine" level="all" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="exchange.services.OrderEntryGateway" level="all" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="exchange.services.ReferenceDataProvider" level="all" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="warn">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>